* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    background-color: white;
}

/* navbar */
nav {
    position: fixed;
    display: flex;
    background-color: black;
    justify-content: space-between;
    padding: 16px 1;
    color: white;
    align-items: center;
    width: 100%;
    margin-top: -15px;
}

.logo {
    display: flex;
    flex-direction: row;
}

nav h4 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: -25px;
}

nav img {
    width: 110px;
    height: 85px;
    display: flex;
    justify-content: space-around;
}

nav ul {
    display: flex;
    list-style: none;
    width: 20%;
    justify-content: space-evenly;
}

nav ul {
    padding: 0 6px;
    float: bottom;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    nav ul {
        width: 50%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 576px) {
    nav ul {
        width: 50%;
        margin: 6px 0;
    }
}

nav ul li a {
    color: white;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

nav ul li a:hover {
    color: red;
}

.logo {
    padding: 0 6px;
    float: left;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .logo {
        width: 50%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 576px) {
    .logo {
        width: 50%;
        margin: 6px 0;
    }
}
/* gambar gigi */
.gambar1 {
    padding: 0 0.5px;
    float: left;
    width: 100%;
    margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
    .gambar1 {
        width: 50%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 576px) {
    .gambar1 {
        width: 100%;
    }
}

/* artikel */

article {
    color: black;
}

article div h1 {
    margin-top: 10px;
}

/* section 1 */

.toparticel1 {
    text-align: center;
    text-transform: uppercase;
}

/* section 2 */

.section2 {
    margin-top: 20px;
}

/* section 3 / before-after */
div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 25%;
}

@media only screen and (max-width: 768px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 576px) {
    .responsive {
        width: 100%;
    }
}

.kesimpulan {
    text-indent: 50px;
    margin-top: 50px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Checkbox - Radio Button */

fieldset {
    margin: 10px 0;
    border-radius: 8px;
    width: 100%;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 5px 5px;
    margin: 10px 0;
    display: block;
  }

.keluhan-text {
    margin-top: 8px;
    margin-bottom: -10px;
}

.keluhan-box {
    margin-bottom: 8px;
}

#form-section {
    background-color: black;
    color: white;
    padding: 2px;
    margin-top: 16px;
  }
  
#form-section form {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
  
button[type="submit"] {
    color: black;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    width: 100%;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
  }

button[type="submit"]:hover {
      background-color: red;
    }